In [3]:
import pandas as pd
import openpyxl as opx

book = opx.load_workbook("colorectal newest data.xlsx")
sheet = book.active

df = pd.DataFrame(sheet.values)

total_missing_values = df.isnull().sum().sum()

# total mv
total_missing_values = df.isnull().sum().sum()

# percentage of mv per column
missing_percentage = pd.DataFrame((df.isnull().mean() * 100), columns=['mv percent per column'])
missing_percentage['Feature'] = df.loc[0]
missing_percentage.index = missing_percentage.reset_index(drop=True).index + 1

with pd.ExcelWriter('missingD.xlsx') as writer:
    missing_percentage.to_excel(writer, sheet_name='Sheet1', index=False)




print(f"Total missing values in DataFrame: {total_missing_values}")

Total missing values in DataFrame: 5318

In [20]:
# drop more than 47%
data = df.drop(columns=df.columns[[0, 1, 17, 18, 19, 20, 43]], axis=1)
data

,2,3,4,5,6,7,8,9,10,11,...,56,57,58,59,60,61,62,63,64,65
0,Disease,Unit number,Age,Gender,BMI,Ethnicity,Marital status,Familial marriage,Education,Ca. Of colon,...,Surgery Date,Date of last follow-up,Date of last metastasis,Date of last recurrence,Follow-Up interval,metastasis interval,recurrence interval,Date of death,DEATH INTERVAL,Last follow up
1,1,1278173,60,2,27.1,2,1,1,1,0,...,1398-02-25,1399-05-14,,,447,0,0,,0,None
2,2,1332870,38,1,26.4,1,1,1,4,0,...,1398-02-17,1398-02-30,,,13,0,0,,0,"= VLOOKUP(D3,'[1]export (2)'!$A:$I,5,FALSE)"
3,1,1335596,63,1,32,1,1,0,4,0,...,1398-02-10,1399-05-13,,,461,0,0,,0,"= VLOOKUP(D4,'[1]export (2)'!$A:$I,5,FALSE)"
4,2,1334703,56,2,18.5,1,1,0,3,1,...,1398-02-09,1398-09-11,,,217,0,0,,0,"= VLOOKUP(D5,'[1]export (2)'!$A:$I,5,FALSE)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654,1,1062296,55,1,24.7,1,1,1,1,0,...,1386-08-21,1389-07-07,1388-08-10,1388-08-10,1052,720,720,1389-03-08,929,"= VLOOKUP(D655,'[1]export (2)'!$A:$I,5,FALSE)"
655,1,1063203,56,1,20.6,1,1,0,3,0,...,1385-07-30,1393-11-27,1391-10-16,1391-11-29,3039,2267,2310,1392-03-05,2408,"= VLOOKUP(D656,'[1]export (2)'!$A:$I,5,FALSE)"
656,1,1063586,55,2,22.9,1,1,1,1,0,...,1385-08-09,1393-11-02,,1386-06-03,3005,0,298,1393-08-16,2929,"= VLOOKUP(D657,'[1]export (2)'!$A:$I,5,FALSE)"
657,1,1103474,79,1,17.6,1,1,1,1,0,...,1387-11-08,1391-06-10,1389-03-01,,1312,480,0,1391-02-10,1188,"= VLOOKUP(D658,'[1]export (2)'!$A:$I,5,FALSE)"
658,1,1125110,73,2,21.3,2,1,1,2,1,...,1389-01-14,1391-06-16,1390-05-03,,887,478,0,1391-06-16,887,"= VLOOKUP(D659,'[1]export (2)'!$A:$I,5,FALSE)"

0                     Row
1         addmission Date
2                 Disease
3             Unit number
4                     Age
             ...
61    metastasis interval
62    recurrence interval
63          Date of death
64         DEATH INTERVAL
65         Last follow up
Name: 0, Length: 66, dtype: object